<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Front page section -->
    <section class="front" id="front">
        <div class="max-width">
            <ul class="front-menu">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="#">My projects</a></li>
                <li><a href="#">Contact me</a></li>
            </ul>
        </div>
    </section>
</body>
</html>